.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.post {
  width: 400px;
  max-height: 40px;
  min-height: 358px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post .title {
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
  height: 50px; /* Set a fixed height for the title */
}

.post .body {
  height: 238px;
  display: grid;
  place-content: start;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.post .footer {
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 70px; /* Set a fixed height for the footer */
}

.footer .username {
  flex: 50%;
}

.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}

.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

/* TABLE */
/* table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom, #fff, #f2f2f2);
}


td, th {
  border-bottom: 1px solid black;
  border-right: none;
  padding: 10px;
  width: auto;
  text-align: left;
}

th {
  background: linear-gradient(to bottom, #f2f2f2, #ddd);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a.my-class {
  font-size: 30px;
  color: black
} */

.team-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name {
  font-size: 3rem;
  margin-top: 2rem;
}

.best-players {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.best-scorer,
.best-assistant {
  text-align: center;
}

.player-list {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


/* PLAYER PAGE */
.player-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.player-info-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.player-info-label {
  font-weight: bold;
  margin-right: 10px;
}

.player-info-value {
  font-weight: normal;
}

/* MATCH */
.match-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 10px 0;
}

.match-block-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.match-block-team img {
  width: 50px;
  height: 50px;
}

.match-block-team p {
  margin-top: 5px;
  font-weight: bold;
  color: #004080;
}


/* ПОСТ */
.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Adjust this property to change the horizontal alignment */
}